* {
    font-family: 'Roboto Mono', monospace;
}

.wrap {
    display: flex;
    justify-content: center;

    margin-top: 80px;
}

.holder {
    width: 600px;
    height: 300px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

    font-size: 30px;
    font-weight: 700;
}

.item:nth-child(1) {
    order: -1;
    background-color: red;
    width: 50%;
}

.item:nth-child(2) {
    order: 1;
    background-color: rgb(15, 109, 250);
    width: 33.333%
}

.item:nth-child(3) {
    background-color: rgb(191, 5, 248);
    width: 33.333%
}

.item:nth-child(4) {
    order: 1;
    background-color: rgb(5, 177, 20);
    width: 33.333%
}

.item:nth-child(5) {
    order: -1;
    background-color: rgb(250, 225, 5);
    width: 50%
    
}