* {
    font-family: 'Roboto Mono', monospace;
}

.wrap {
    width: 800px;
}

.image_block-left {
    float: left;

    margin: 10px 20px 20px 20px
    
}

.block {
    float: left;
    overflow: hidden;
   
}

.image_block-right {
    float: right;
    
    
    width: 300px;
    height: 170px;

    margin: 20px 0px 20px 20px;
    


}
